<<div class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="" class="navbar-brand">{{title}}!</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/call-for-papers" routerLinkActive="active">CfP</a>
        </li>
        <li>
          <a routerLink="/speakers" routerLinkActive="active">Speakers</a>
        </li>
        <li>
          <a routerLink="/talks" routerLinkActive="active">Talks</a>
        </li>
        <li>
          <a routerLink="/admin" routerLinkActive="active">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>


